<template>
  <q-page class="q-py-lg q-px-lg">
    <div class="row q-gutter-lg">
      <div class="col-6">
      <q-card class="my-card">
        <img src="https://cdn.quasar.dev/img/mountains.jpg">
        <q-card-section>
          <div class="text-subtitle2">Категория</div>
          <div class="text-h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus vero laudantium dolore neque unde ad ducimus beatae? Eius, maxime.</div>
        </q-card-section>
      </q-card>
      </div>
      <div class="col-6">
      <q-card class="my-card">
        <img src="https://cdn.quasar.dev/img/mountains.jpg">
        <q-card-section>
          <div class="text-subtitle2">Категория</div>
          <div class="text-h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus vero laudantium dolore neque unde ad ducimus beatae? Eius, maxime.</div>
        </q-card-section>
      </q-card>
      </div>
      <!-- <q-card class="my-card col-4">
        <img src="https://cdn.quasar.dev/img/mountains.jpg">
        <q-card-section>
          <div class="text-subtitle2">Категория</div>
          <div class="text-h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus vero laudantium dolore neque unde ad ducimus beatae? Eius, maxime.</div>
        </q-card-section>
      </q-card>
      <q-card class="my-card col-4">
        <img src="https://cdn.quasar.dev/img/mountains.jpg">
        <q-card-section>
          <div class="text-subtitle2">Категория</div>
          <div class="text-h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus vero laudantium dolore neque unde ad ducimus beatae? Eius, maxime.</div>
        </q-card-section>
      </q-card>
      <q-card class="my-card col-4">
        <img src="https://cdn.quasar.dev/img/mountains.jpg">
        <q-card-section>
          <div class="text-subtitle2">Категория</div>
          <div class="text-h6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus vero laudantium dolore neque unde ad ducimus beatae? Eius, maxime.</div>
        </q-card-section>
      </q-card> -->
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
