<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-white text-grey-8 q-py-sm q-px-md header">
      <q-toolbar class="row q-pa-none">
        <q-toolbar-title class='flex items-center col-3 header-logo'>
          <img src="../statics/logo.png" alt="" width="100%" height="auto">
        </q-toolbar-title>
        <q-btn-toggle
            class="col-6"
            v-model="model"
            flat
            spread
            stretch
            toggle-color="yellow"
            :options="[
              {label: 'One', value: 'one'},
              {label: 'Two', value: 'two'},
              {label: 'Three', value: 'three'}
            ]"
          />
          <div class="col-3 flex justify-end">
            <q-btn color="primary" label="Вход" />
            <q-btn class="q-ml-md" color="amber" label="Регистрация" />
          </div>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer elevated class="bg-grey-8 text-white q-py-sm q-px-md">
      <q-toolbar class='row q-pa-none'>
        <q-toolbar-title class='flex justify-center header-logo'>
          <img src="../statics/logo.png" alt="" width="100%" height="auto">
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style lang='scss' scoped>
  .header {
    &-logo {
      img{
        max-width: 220px;
      }
    }
  }
</style>
